@import './scss/colors.scss';
@import './scss/fonts.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	align-items: center;
	background-color: $darkNavy;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

#overlay {
	align-items: center;
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 100px;
	font-weight: 700;
	line-height: 120px;
	letter-spacing: -5px;
}

h2 {
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
}

h3 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 15px;
	text-transform: uppercase;
}

h4 {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
}
