@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@400;700&family=Space+Mono&display=swap');

$kumbh: 'Kumbh Sans', sans-serif;
$roboto: 'Roboto Slab', serif;
$space: 'Space Mono', monospace;
