@import './colors.scss';

@mixin body1 {
	color: $gray;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}

@mixin body2 {
	color: $gray;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
}

@mixin picker {
	border-bottom: 1px solid #e3e1e1;
	color: $veryDarkNavy;
	font-family: $kumbh;
	padding: 24px 0;
}
