@import './colors.scss';
@import './fonts.scss';
@import './mixins.scss';

.navbar {
	align-items: center;
	background-color: $veryDarkNavy;
	border-radius: 32px;
	display: flex;
	margin-top: 55px;
	padding: 8px;
	z-index: 1;

	div {
		@include body1;
		border-radius: 26px;
		cursor: pointer;
		opacity: 0.4;
		padding: 16px 26px;
		transition: background-color 0.6s ease;
		transition: opacity 0.15s ease;

		&:hover {
			opacity: 1;
		}
	}
}
