@import './colors.scss';
@import './fonts.scss';

.timer__outer {
	@media (max-width: 440px) {
		margin-top: 0;
		scale: 73%;
	}
	align-items: center;
	background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
	border-radius: 100%;
	box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272c5a;
	display: flex;
	height: 410px;
	justify-content: center;
	margin-top: 45px;
	width: 410px;

	.timer__inner {
		align-items: center;
		background-color: $veryDarkNavy;
		border-radius: 100%;
		display: flex;
		height: 366px;
		justify-content: center;
		width: 366px;
	}
}

.time__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.time {
		color: $gray;
		cursor: default;
	}

	.action {
		background-color: transparent;
		border: none;
		color: $gray;
		cursor: pointer;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 15px;
		text-transform: uppercase;
		transition: color 0.15s ease;
	}
}
